<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <p><div>PL - Practitioner List App: v<span app-version></span></div></p>
      <p><div>Total Practitioners: {{$ctrl.practitioners.total}}</div></p>
    </div>

    <div class="col-md-10">

      <!--Body content-->
      <ul class="phones">
        <li ng-repeat="practitioner in $ctrl.practitioners.entry"
            class="thumbnail phone-list-item">
          <a href="#!/practitioner/{{practitioner.resource.id}}">{{practitioner.resource.name[0].given[0]}} {{practitioner.resource.name[0].family}} [{{practitioner.resource.name[0].text}}]</a>
        </li>
      </ul>
    </div>
  </div>
</div>

