<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      Hi Matt!
      <!--Sidebar content-->
<!--
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
-->
      <!--Body content-->
      <!--
            <ul class="phones">
              <li ng-repeat="practitioner in $ctrl.practitioners | filter:$ctrl.query | orderBy:$ctrl.orderProp"
                  class="thumbnail phone-list-item">
                <a href="#!/practitioner/{{practitioner.id}}" class="thumb">
                  <img ng-src="{{practitioner.imageUrl}}" alt="{{practitioner.name}}" />
                </a>
                <a href="#!/practitioner/{{practitioner.id}}">{{practitioner.name}}</a>
                <p>{{practitioner.snippet}}</p>
              </li>
            </ul>
      -->
    </div>
  </div>
</div>
