<h1>{{$ctrl.practitioner.entry[0].resource.name[0].given}} {{$ctrl.practitioner.entry[0].resource.name[0].family}}</h1>

<ul class="specs">
    <li>
        <span>Text</span>
        <dl>
            <dd>
                {{$ctrl.practitioner.entry[0].resource.text.div}}
            </dd>
        </dl>
        <span>Name</span>
        <dl>
            <dd ng-repeat="name in $ctrl.practitioner.entry[0].resource.name">
                <ul>
                    <li>{{name.given}}</li>
                    <li>{{name.family}}</li>
                </ul>
            </dd>
        </dl>
        <span>Address</span>
        <dl>
            <dd ng-repeat="addr in $ctrl.practitioner.entry[0].resource.address">
                <ul>
                    <li>{{addr.use}}</li>
                    <li>{{addr.line}}</li>
                </ul>
            </dd>
        </dl>
        <span>Gender</span>
        <dl>
            <dd>
                {{$ctrl.practitioner.entry[0].resource.gender}}
            </dd>
        </dl>
        <span>Role</span>
        <dl>
            <dd ng-repeat="role in $ctrl.practitioner.entry[0].resource.role">
                <ul>
                    <li>{{role.organization.reference}}</li>
                </ul>
            </dd>
        </dl>
    </li>
</ul>

<a href="#!/practitioners">Back to Practitioner List!</a>
